force-app/main/default/flows/Bike_Assembly_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Box_SKU_Converted</name>
        <label>Assign Box SKU Converted</label>
        <locationX>689</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>VAR_BoxSKU.Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_BoxSKU.SKU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Box</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PreBuild_or_ProBuild</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Asset_Values</name>
        <label>Assign New Asset Values</label>
        <locationX>984</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>VAR_AssetDetails.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAssetSKU.SKU_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AssetDetails.SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAssetSKU.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_SKU_Details</name>
        <label>Assign New SKU Details</label>
        <locationX>800</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BoxSKU.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BoxSKU.Bike_Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Built</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BoxSKU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Step_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BoxSKU.Step_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Product_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BoxSKU.Product_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Box_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_SKU_Details_0</name>
        <label>Assign New SKU Details</label>
        <locationX>704</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BoxSKU.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BoxSKU.Bike_Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Built</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BoxSKU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Step_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BoxSKU.Step_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Product_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_BoxSKU.Product_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Box_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Appointment_Values</name>
        <label>Assign Service Appointment Values</label>
        <locationX>579</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>VAR_ServiceAppointmentDetails.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Box_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Appointment_Values_0</name>
        <label>Assign Service Appointment Values</label>
        <locationX>585</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>VAR_ServiceAppointmentDetails.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Box_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Line_Item_Values</name>
        <label>Assign Work Order Line Item Values</label>
        <locationX>840</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderLineItemDetails.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderLineItemDetails.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_WorkTypeDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderLineItemDetails.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_AccountDetails.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderLineItemDetails.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_AccountDetails.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderLineItemDetails.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_AccountDetails.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderLineItemDetails.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_AccountDetails.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderLineItemDetails.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderLineItemDetails.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderLineItemDetails.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderLineItemDetails.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_WorkTypeDetails.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Values</name>
        <label>Assign Work Order Values</label>
        <locationX>461</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Appointment_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Values_0</name>
        <label>Assign Work Order Values</label>
        <locationX>586</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Appointment_Values_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BadPart</name>
        <choiceText>Bad Part</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>BentFrame</name>
        <choiceText>Bent Frame</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>MisAlignment</name>
        <choiceText>Mis-Alignment</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Is_Delivery_Needed</name>
        <label>Is Delivery Needed</label>
        <locationX>837</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>Completion_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_LocationDetails.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Delivery_Work_Type</targetReference>
            </connector>
            <label>Yes, Delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_or_Desktop</name>
        <label>Mobile or Desktop</label>
        <locationX>168</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Work_Step</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Work_Step_0</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
    </decisions>
    <decisions>
        <name>PreBuild_or_ProBuild</name>
        <label>PreBuild or ProBuild</label>
        <locationX>688</locationX>
        <locationY>555</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreBuild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_WorkOrderDetails.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_SKU_Details</targetReference>
            </connector>
            <label>PreBuild</label>
        </rules>
        <rules>
            <name>Probuild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_WorkOrderDetails.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_SKU_Details_0</targetReference>
            </connector>
            <label>Probuild</label>
        </rules>
    </decisions>
    <decisions>
        <name>QA_Pass_or_NOt</name>
        <label>QA Pass or NOt</label>
        <locationX>332</locationX>
        <locationY>527</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Comments</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
        <rules>
            <name>Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fail_Reason</targetReference>
            </connector>
            <label>Not</label>
        </rules>
    </decisions>
    <interviewLabel>Bike Assembly Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bike Assembly Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_New_Asset_SKU</name>
        <label>Create New Asset SKU</label>
        <locationX>1035</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <inputReference>NewAssetSKU</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line_Item</name>
        <label>Create Work Order Line Item</label>
        <locationX>979</locationX>
        <locationY>140</locationY>
        <connector>
            <targetReference>Delivery_Confirmation</targetReference>
        </connector>
        <inputReference>VAR_WorkOrderLineItemDetails</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>162</locationX>
        <locationY>750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_Up_Asset_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>VAR_AccountDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>70</locationX>
        <locationY>675</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.LocationId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>VAR_LocationDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationType</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>174</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_WorkStepDetails.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>VAR_WorkOrderDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AssetId</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>Priority</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Asset_Details</name>
        <label>Look Up Asset Details</label>
        <locationX>275</locationX>
        <locationY>751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QA_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>VAR_AssetDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SKU__c</queriedFields>
        <queriedFields>Box_SKU__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Box_SKU</name>
        <label>Lookup Box SKU</label>
        <locationX>581</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Box_SKU_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_AssetDetails.Box_SKU__c</elementReference>
            </value>
        </filters>
        <object>SKU__c</object>
        <outputReference>VAR_BoxSKU</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SKU_Number__c</queriedFields>
        <queriedFields>SKU_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Bike_Color__c</queriedFields>
        <queriedFields>Product_Item__c</queriedFields>
        <queriedFields>Step_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Delivery_Work_Type</name>
        <label>Lookup Delivery Work Type</label>
        <locationX>843</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Work_Order_Line_Item_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service - Bike Delivery</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>VAR_WorkTypeDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Service_Appointment</name>
        <label>Lookup Service Appointment</label>
        <locationX>155</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>VAR_ServiceAppointmentDetails</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Work_Step</name>
        <label>Lookup Work Step</label>
        <locationX>74</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>VAR_WorkStepDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Work_Step_0</name>
        <label>Lookup Work Step</label>
        <locationX>272</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>VAR_WorkStepDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>874</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Is_Delivery_Needed</targetReference>
        </connector>
        <inputReference>VAR_AssetDetails</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Box_SKU</name>
        <label>Update Box SKU</label>
        <locationX>934</locationX>
        <locationY>675</locationY>
        <connector>
            <targetReference>Create_New_Asset_SKU</targetReference>
        </connector>
        <inputReference>VAR_BoxSKU</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>1138</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>Assign_New_Asset_Values</targetReference>
        </connector>
        <inputReference>VAR_ServiceAppointmentDetails</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1143</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <inputReference>VAR_WorkOrderDetails</inputReference>
    </recordUpdates>
    <screens>
        <name>Completion_Confirmation</name>
        <label>Completion Confirmation</label>
        <locationX>982</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompletionMessage</name>
            <fieldText>&lt;p&gt;This Work Order has been marked as complete, nice work!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Confirmation</name>
        <label>Delivery Confirmation</label>
        <locationX>981</locationX>
        <locationY>272</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Completion_Confirmation</targetReference>
        </connector>
        <fields>
            <name>DeliveryMessage</name>
            <fieldText>&lt;p&gt;Open the Delivery Work Order Line Item and Contact the Customer to Schedule their Delivery.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Comments</name>
        <label>Enter Comments</label>
        <locationX>461</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Work_Order_Values</targetReference>
        </connector>
        <fields>
            <name>CommentsMessage</name>
            <fieldText>&lt;p&gt;Please insert any additional comments specific to this Work Order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fail_Reason</name>
        <label>Fail Reason</label>
        <locationX>461</locationX>
        <locationY>633</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Work_Order_Values_0</targetReference>
        </connector>
        <fields>
            <name>FailReasonMessage</name>
            <fieldText>&lt;p&gt;Please select from the below to indicate appropriate fail reason as well as additional comments&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fail_Reasons</name>
            <choiceReferences>BadPart</choiceReferences>
            <choiceReferences>BentFrame</choiceReferences>
            <choiceReferences>MisAlignment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fail Reasons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments2</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Check</name>
        <label>QA Check</label>
        <locationX>282</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QA_Pass_or_NOt</targetReference>
        </connector>
        <fields>
            <name>QACheckMessage</name>
            <fieldText>&lt;p&gt;Did the Bike pass the QA Check and Test Ride?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Make_Selection</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Make Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Mobile_or_Desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAssetSKU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_AccountDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VAR_AssetDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>VAR_BoxSKU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>VAR_LocationDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>VAR_ServiceAppointmentDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>VAR_WorkOrderDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>VAR_WorkOrderLineItemDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>VAR_WorkStepDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
    <variables>
        <name>VAR_WorkTypeDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
