force-app/main/default/flows/Call_In_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Work_Order</name>
        <label>Open Work Order</label>
        <locationX>1381</locationX>
        <locationY>210</locationY>
        <actionName>c:SDO_Flow_OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>VAR_WorkOrderDetails.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Location_Id</name>
        <label>Assign Location Id</label>
        <locationX>88</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>SelectedLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Asset.LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Service_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_SA_Values</name>
        <label>Assign New SA Values</label>
        <locationX>1285</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>Get_Service_Appointment.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add3EarlyStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Service_Appointment.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add3DueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Values</name>
        <label>Assign Work Order Values</label>
        <locationX>798</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Asset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedServiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Service_Territory.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Work_Type_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Values_Site</name>
        <label>Assign Work Order Values</label>
        <locationX>622</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Asset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedServiceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Service_Territory.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Asset.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Asset.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Asset.Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Asset.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Work_Type_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order_Site</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Asset_Location_a_Site_or_Store</name>
        <label>Is Asset Location a Site or Store</label>
        <locationX>75</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Asset.Location.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Location_Id</targetReference>
            </connector>
            <label>Site</label>
        </rules>
        <rules>
            <name>store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Asset.Location.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Selection</targetReference>
            </connector>
            <label>store</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Asset_Location_a_Site_or_Store_0</name>
        <label>Is Asset Location a Site or Store</label>
        <locationX>419</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Site_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Asset.Location.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Order_Values_Site</targetReference>
            </connector>
            <label>Site</label>
        </rules>
        <rules>
            <name>store_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Asset.Location.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Products_Required</targetReference>
            </connector>
            <label>store</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_Enough_Inventory</name>
        <label>Is there Enough Inventory?</label>
        <locationX>393</locationX>
        <locationY>189</locationY>
        <defaultConnector>
            <targetReference>Not_Enough_Inventory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Enough_Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compare_Location_Inventory.QuantityOnHand</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Products_Required.QuantityRequired</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Products_Required</targetReference>
            </connector>
            <label>Yes, Enough Inventory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_Enough_Inventory_0</name>
        <label>Is there Enough Inventory?</label>
        <locationX>1166</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Enough_Inventory_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Compare_Location_Inventory.QuantityOnHand</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Products_Required.QuantityRequired</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Work_Order</targetReference>
            </connector>
            <label>Yes, Enough Inventory</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LocationSelection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>SelectedLocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceTypeSelection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>SelectedServiceId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Add3DueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Service_Appointment.DueDate}+3</expression>
    </formulas>
    <formulas>
        <name>Add3EarlyStart</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Service_Appointment.EarliestStartTime}+3</expression>
    </formulas>
    <formulas>
        <name>ThreeDaysFuture</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <interviewLabel>Call In Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call In Service</label>
    <loops>
        <name>Loop_through_Products_Required</name>
        <label>Loop through Products Required</label>
        <locationX>548</locationX>
        <locationY>326</locationY>
        <collectionReference>Lookup_Products_Required</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_Location_Inventory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Inventory_Available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>911</locationX>
        <locationY>203</locationY>
        <connector>
            <targetReference>Inventory_Available_0</targetReference>
        </connector>
        <inputReference>VAR_WorkOrderDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Site</name>
        <label>Create Work Order</label>
        <locationX>776</locationX>
        <locationY>562</locationY>
        <connector>
            <targetReference>Open_Work_Order</targetReference>
        </connector>
        <inputReference>VAR_WorkOrderDetails</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Compare_Location_Inventory</name>
        <label>Compare Location Inventory</label>
        <locationX>629</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_Enough_Inventory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Products_Required.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>1175</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_SA_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Asset</name>
        <label>Lookup Asset</label>
        <locationX>87</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Asset_Location_a_Site_or_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Products_Required</name>
        <label>Lookup Products Required</label>
        <locationX>425</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Products_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedServiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Service_Territory</name>
        <label>Lookup Service Territory</label>
        <locationX>208</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Work_Type_Details</name>
        <label>Lookup Work Type Details</label>
        <locationX>316</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Asset_Location_a_Site_or_Store_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedServiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>1390</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Open_Work_Order</targetReference>
        </connector>
        <inputReference>Get_Service_Appointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Customer_Details</name>
        <label>Customer Details</label>
        <locationX>313</locationX>
        <locationY>476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Work_Type_Details</targetReference>
        </connector>
        <fields>
            <name>CustomerDetails</name>
            <fieldText>&lt;p&gt;Customer:  &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Lookup_Asset.Account.FirstName} {!Lookup_Asset.Account.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Bike:  {!Lookup_Asset.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;What type of Service does the Customer need done?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Type</name>
            <choiceReferences>ServiceTypeSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inventory_Available</name>
        <label>Inventory Available</label>
        <locationX>677</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Work_Order_Values</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;It looks like all the Parts needed to complete this Service Request are in stock.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select &apos;Next&apos; to create the Work Order&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inventory_Available_0</name>
        <label>Inventory Available</label>
        <locationX>1042</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_Enough_Inventory_0</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage_0</name>
            <fieldText>&lt;p&gt;Work Order Successfully Created, select &apos;Next&apos; to Book the Appointment with the Customer&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Location_Selection</name>
        <label>Location Selection</label>
        <locationX>194</locationX>
        <locationY>325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Service_Territory</targetReference>
        </connector>
        <fields>
            <name>Select_Retail_Location</name>
            <choiceReferences>LocationSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Retail Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Enough_Inventory</name>
        <label>Not Enough Inventory</label>
        <locationX>649</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Work_Order_Values</targetReference>
        </connector>
        <fields>
            <name>InventoryMessage</name>
            <fieldText>&lt;p&gt;It looks like one or more of the inventory items needed to satisfy the Service Request is out of stock.  Please inform the Customer it will be at least 3 business days for us to order and receive the part.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The earliest we will be able to book this Service Appointment is {!ThreeDaysFuture}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select &apos;Next&apos; to create the Work Order&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Asset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_WorkOrderDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
