force-app/main/default/flows/Finish_Shipment_Record_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Asset_SKU_Values</name>
        <label>Assign Asset SKU Values</label>
        <locationX>766</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Bike_Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Product_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Product_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Step_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Step_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Built</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Values</name>
        <label>Assign Asset Values</label>
        <locationX>874</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>NewAssetDetails.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Shipment.Related_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Shipment.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.Box_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Product_Item__r.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Product_Item__r.Actual_Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manufactured</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Shipment.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Bike_Color__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Box_SKU_To_Assembly</name>
        <label>Assign Box SKU To Assembly</label>
        <locationX>665</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_SKUs_again.SKU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assembly</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Asset_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Details</name>
        <label>Assign Work Order Details</label>
        <locationX>1117</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Shipment.Related_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAssetDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assembly_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Shipment.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Shipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assembly_Work_Type.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Finish Shipment Record Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finish Shipment Record Triggered</label>
    <loops>
        <name>Loop_through_SKUs_again</name>
        <label>Loop through SKUs again</label>
        <locationX>465</locationX>
        <locationY>284</locationY>
        <collectionReference>Two_Lookup_Shipment_SKUs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Box_SKU_To_Assembly</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>996</locationX>
        <locationY>228</locationY>
        <connector>
            <targetReference>Get_Assembly_Work_Type</targetReference>
        </connector>
        <inputReference>NewAssetDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Asset_SKU</name>
        <label>Create New Asset SKU</label>
        <locationX>984</locationX>
        <locationY>654</locationY>
        <inputReference>NewAssetSKU</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>1210</locationX>
        <locationY>520</locationY>
        <inputReference>VAR_WorkOrderDetails</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Assembly_Work_Type</name>
        <label>Get Assembly Work Type</label>
        <locationX>1113</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service - Bike Assembly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>1226</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Box_SKU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_Shipment.DestinationLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Shipment</name>
        <label>Lookup Shipment</label>
        <locationX>130</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Two_Lookup_Shipment_SKUs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Two_Lookup_Shipment_SKUs</name>
        <label>Two Lookup Shipment SKUs</label>
        <locationX>265</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_SKUs_again</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Box_SKU</name>
        <label>Update Box SKU</label>
        <locationX>1229</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>Assign_Work_Order_Details</targetReference>
        </connector>
        <inputReference>Loop_through_SKUs_again</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Shipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <object>Shipment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewAssetDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NewAssetSKU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>SKUsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>VAR_ShipmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_WorkOrderDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
