force-app/main/default/flows/Receive_Shipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Deleted_SKUS</name>
        <label>Add Deleted SKUS</label>
        <locationX>542</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>SKUsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_SKUs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_SKUs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_SKU_Collection</name>
        <label>Add to SKU Collection</label>
        <locationX>686</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>SKUsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewBoxSKU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Deleted_SKUS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_SKU_Values</name>
        <label>Assign Asset SKU Values</label>
        <locationX>863</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Bike_Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Product_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Product_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Step_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Step_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Values</name>
        <label>Assign Asset Values</label>
        <locationX>873</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>NewAssetDetails.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAssetSKU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.Box_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Product_Item__r.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Product_Item__r.Actual_Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manufactured</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetDetails.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs_again.Bike_Color__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_SKU_Value</name>
        <label>Assign New SKU Value</label>
        <locationX>689</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>NewBoxSKU.Product_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Product_Item_in_Destination.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBoxSKU.Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBoxSKU.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBoxSKU.SKU_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs.SKU_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBoxSKU.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs.Bike_Color__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBoxSKU.Shipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBoxSKU.Step_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs.Step_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBoxSKU.SKU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_SKUs.SKU_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_SKU_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Details</name>
        <label>Assign Work Order Details</label>
        <locationX>1226</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAssetDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assembly_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Receive Shipment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Receive Shipment</label>
    <loops>
        <name>Loop_through_SKUs</name>
        <label>Loop through SKUs</label>
        <locationX>425</locationX>
        <locationY>364</locationY>
        <collectionReference>Get_SKUs_related_to_shipment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Product_Item_in_Destination</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SKUs_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_SKUs_again</name>
        <label>Loop through SKUs again</label>
        <locationX>718</locationX>
        <locationY>514</locationY>
        <collectionReference>Two_Lookup_Shipment_SKUs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Asset_SKU_Values</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>996</locationX>
        <locationY>228</locationY>
        <connector>
            <targetReference>Get_Assembly_Work_Type</targetReference>
        </connector>
        <inputReference>NewAssetDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Asset_SKU</name>
        <label>Create New Asset SKU</label>
        <locationX>865</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Assign_Asset_Values</targetReference>
        </connector>
        <inputReference>NewAssetSKU</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>1222</locationX>
        <locationY>514</locationY>
        <inputReference>VAR_WorkOrderDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>SKUs_to_Create</name>
        <label>SKUs to Create</label>
        <locationX>425</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Delete_SKUS</targetReference>
        </connector>
        <inputReference>SKUsToUpdate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_SKUS</name>
        <label>Delete SKUS</label>
        <locationX>421</locationX>
        <locationY>600</locationY>
        <inputReference>SKUsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Information</name>
        <label>Get Account Information</label>
        <locationX>176</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SKUs_related_to_shipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assembly_Work_Type</name>
        <label>Get Assembly Work Type</label>
        <locationX>1113</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service - Bike Assembly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>1226</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Work_Order_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DestinationLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SKUs_related_to_shipment</name>
        <label>Get SKUs related to shipment</label>
        <locationX>293</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_SKUs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Product_Item_in_Destination</name>
        <label>Lookup Product Item in Destination</label>
        <locationX>559</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_SKU_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DestinationLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_SKUs.Product_Item__r.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Two_Lookup_Shipment_SKUs</name>
        <label>Two Lookup Shipment SKUs</label>
        <locationX>582</locationX>
        <locationY>514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_SKUs_again</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <object>Shipment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewAssetDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NewAssetSKU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>NewBoxSKU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>SKUsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>SKUsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>VAR_WorkOrderDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
