force-app/main/default/flows/SDO_B2BCommerce_Subflow_Shipping_Address_and_Delivery_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_Checkout_Stages</name>
        <label>Set Checkout Stages</label>
        <locationX>149</locationX>
        <locationY>159</locationY>
        <assignmentItems>
            <assignToReference>checkoutStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Shipping</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkoutStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Summary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkoutStages</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShippingAddressScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Only get the ContactPointAddress record associated with the new address selected and update</description>
        <name>Update_address_if_changed</name>
        <label>Update address if changed</label>
        <locationX>642</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Update_Shipping_Instructions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactPointAddressId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactPointAddressId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Point_Address</targetReference>
            </connector>
            <label>Update Address</label>
        </rules>
    </decisions>
    <description>Includes delivery date picker and stage indicator</description>
    <interviewLabel>Shipping Address and Delivery Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Shipping Address and Delivery Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordLookups>
        <name>Get_Contact_Point_Address</name>
        <label>Get Contact Point Address</label>
        <locationX>650</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CartDeliveryGroup_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactPointAddressId</elementReference>
            </value>
        </filters>
        <object>ContactPointAddress__NotFound</object>
        <outputReference>ContactPointAddressRecord</outputReference>
        <queriedFields>Id__NotFound</queriedFields>
        <queriedFields>City__NotFound</queriedFields>
        <queriedFields>Country__NotFound</queriedFields>
        <queriedFields>Street__NotFound</queriedFields>
        <queriedFields>State__NotFound</queriedFields>
        <queriedFields>PostalCode__NotFound</queriedFields>
        <queriedFields>GeocodeAccuracy__NotFound</queriedFields>
        <queriedFields>Latitude__NotFound</queriedFields>
        <queriedFields>Longitude__NotFound</queriedFields>
        <queriedFields>Name__NotFound</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CartDeliveryGroup_Address</name>
        <label>Update CartDeliveryGroup Address</label>
        <locationX>850</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Update_Shipping_Instructions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeliverToCity</field>
            <value>
                <elementReference>ContactPointAddressRecord.City__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToCountry</field>
            <value>
                <elementReference>ContactPointAddressRecord.Country__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToGeocodeAccuracy</field>
            <value>
                <elementReference>ContactPointAddressRecord.GeocodeAccuracy__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToLatitude</field>
            <value>
                <elementReference>ContactPointAddressRecord.Latitude__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToLongitude</field>
            <value>
                <elementReference>ContactPointAddressRecord.Longitude__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToName</field>
            <value>
                <elementReference>ContactPointAddressRecord.Name__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToPostalCode</field>
            <value>
                <elementReference>ContactPointAddressRecord.PostalCode__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToState</field>
            <value>
                <elementReference>ContactPointAddressRecord.State__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToStreet</field>
            <value>
                <elementReference>ContactPointAddressRecord.Street__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DesiredDeliveryDate</field>
            <value>
                <elementReference>Desired_Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <object>CartDeliveryGroup</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipping_Instructions</name>
        <label>Update Shipping Instructions</label>
        <locationX>1000</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Set_State</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingInstructions</field>
            <value>
                <elementReference>shippingInstructions</elementReference>
            </value>
        </inputAssignments>
        <object>CartDeliveryGroup</object>
    </recordUpdates>
    <screens>
        <name>ShippingAddressScreen</name>
        <label>Shipping Address Screen</label>
        <locationX>150</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Checkout_State</targetReference>
        </connector>
        <fields>
            <name>StageIndicator</name>
            <extensionName>c:SDO_Flow_StageIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>checkoutStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>currentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>shippingAddress</name>
            <extensionName>forceCommunity:commerceDelivery</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showShippingInstructions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>contactPointAddressId</assignToReference>
                <name>contactPointAddressId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>shippingInstructions</assignToReference>
                <name>shippingInstructions</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Desired_Delivery_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Desired Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>24</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Set_Checkout_Stages</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This subflow sets the next state field of the current checkout session object.</description>
        <name>Set_State</name>
        <label>Set State</label>
        <locationX>1250</locationX>
        <locationY>250</locationY>
        <flowName xsi:nil="true"/>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>870</locationX>
        <locationY>750</locationY>
        <flowName xsi:nil="true"/>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Validate_Checkout_State</name>
        <label>Validate Checkout State</label>
        <locationX>400</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Update_address_if_changed</targetReference>
        </connector>
        <flowName xsi:nil="true"/>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutStages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactPointAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ContactPointAddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress__NotFound</objectType>
    </variables>
    <variables>
        <name>currentStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Shipping&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>currentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shippingInstructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
