force-app/main/default/flows/Service_Consumption.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Location_Id_Variable</name>
        <label>Assign Location Id Variable</label>
        <locationX>456</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>InventoryLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_ServiceResourceDetails.LocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_SKU_Values</name>
        <label>Assign New SKU Values</label>
        <locationX>1275</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>VAR_LOOPSKU.Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_LOOPSKU.Product_Consumed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_ProductConsumedDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Consumed_Values</name>
        <label>Assign Product Consumed Values</label>
        <locationX>1097</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>VAR_ProductConsumedDetails.ProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_SelectedItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ProductConsumedDetails.QuantityConsumed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ProductConsumedDetails.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ProductConsumedDetails.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ProductConsumedDetails.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Consumed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Appointment_Values</name>
        <label>Assign Service Appointment Values</label>
        <locationX>1061</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>VAR_ServiceAppointmentDetails.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SKU_Count</name>
        <label>Assign SKU Count</label>
        <locationX>1311</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>SKUCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>VAR_SKUCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_SKUs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Values</name>
        <label>Assign Work Order Values</label>
        <locationX>1062</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Appointment_Values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Consume_or_No_Consume</name>
        <label>Consume or No Consume</label>
        <locationX>816</locationX>
        <locationY>571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consume</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consume_Inventory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Consumption</targetReference>
            </connector>
            <label>Consume</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_or_Desktop</name>
        <label>Mobile or Desktop</label>
        <locationX>168</locationX>
        <locationY>203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Work_Step</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Work_Step_0</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mobile_or_Desktop_0</name>
        <label>Mobile or Desktop</label>
        <locationX>317</locationX>
        <locationY>565</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_SR_Location</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Desktop_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Inventory_Location</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Right_or_Wrong_Service</name>
        <label>Right or Wrong Service</label>
        <locationX>689</locationX>
        <locationY>685</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Right</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Correct_Service</targetReference>
            </connector>
            <label>Right</label>
        </rules>
        <rules>
            <name>Wrong_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Wrong Service</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LocationSelection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>InventoryLocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartSelection</name>
        <dataType>String</dataType>
        <displayField>Actual_Product_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InventoryLocationId</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputAssignments>
            <assignToReference>VAR_SelectedItemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Product2Id</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Service Consumption {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Consumption</label>
    <loops>
        <name>Loop_through_SKUs</name>
        <label>Loop through SKUs</label>
        <locationX>1421</locationX>
        <locationY>571</locationY>
        <assignNextValueToReference>VAR_LOOPSKU</assignNextValueToReference>
        <collectionReference>VAR_SKUCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Consumed_Completion</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Product_Consumed</name>
        <label>Create Product Consumed</label>
        <locationX>1165</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>Get_all_Product_SKUs</targetReference>
        </connector>
        <inputReference>VAR_ProductConsumedDetails</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Product_SKUs</name>
        <label>Get all Product SKUs</label>
        <locationX>1208</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SKU_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_SelectedItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Converted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SKU__c</object>
        <outputReference>VAR_SKUCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Service_Appointment</name>
        <label>Lookup Service Appointment</label>
        <locationX>175</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mobile_or_Desktop_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_WorkOrderDetails.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>VAR_ServiceAppointmentDetails</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SR_Location</name>
        <label>Lookup SR Location</label>
        <locationX>323</locationX>
        <locationY>727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Location_Id_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>VAR_ServiceResourceDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Work_Order</name>
        <label>Lookup Work Order</label>
        <locationX>175</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_WorkStepDetails.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>VAR_WorkOrderDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>AssetId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Work_Step</name>
        <label>Lookup Work Step</label>
        <locationX>82</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>VAR_WorkStepDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Work_Step_0</name>
        <label>Lookup Work Step</label>
        <locationX>281</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputReference>VAR_WorkStepDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkOrderLineItemId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>1283</locationX>
        <locationY>318</locationY>
        <inputReference>VAR_ServiceAppointmentDetails</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SKU</name>
        <label>Update SKU</label>
        <locationX>1176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Assign_Work_Order_Values</targetReference>
        </connector>
        <inputReference>VAR_LOOPSKU</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1178</locationX>
        <locationY>318</locationY>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <inputReference>VAR_WorkOrderDetails</inputReference>
    </recordUpdates>
    <screens>
        <name>Correct_Service</name>
        <label>Correct Service</label>
        <locationX>695</locationX>
        <locationY>569</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Consume_or_No_Consume</targetReference>
        </connector>
        <fields>
            <name>RightServiceMessage</name>
            <fieldText>&lt;p&gt;Great!  Please provide any additional comments you would like to include on this Work Order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consume_Inventory</name>
            <dataType>Boolean</dataType>
            <fieldText>Consume Inventory?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Consumed_Completion</name>
        <label>Product Consumed Completion</label>
        <locationX>1418</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_SKU_Values</targetReference>
        </connector>
        <fields>
            <name>ConsumptionMessage</name>
            <fieldText>&lt;p&gt;The appropriate parts have been added to this Work Order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Consumption</name>
        <label>Product Consumption</label>
        <locationX>975</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Product_Consumed_Values</targetReference>
        </connector>
        <fields>
            <name>ProductConsumeMessage</name>
            <fieldText>&lt;p&gt;Please indicate the Part and Quantity consumed as part of this Work Order&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Part_Selection</name>
            <choiceReferences>PartSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Part Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Inventory_Location</name>
        <label>Select Inventory Location</label>
        <locationX>460</locationX>
        <locationY>560</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Service_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Select_Location</name>
            <choiceReferences>LocationSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Confirmation</name>
        <label>Service Confirmation</label>
        <locationX>575</locationX>
        <locationY>682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Right_or_Wrong_Service</targetReference>
        </connector>
        <fields>
            <name>CorrectServiceMessage</name>
            <fieldText>&lt;p&gt;Was the Service originally identified the correct Service?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Make_Selection</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Make Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Mobile_or_Desktop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventoryLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SKUCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StartingNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_LOOPSKU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>VAR_Product2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ProductConsumedDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>VAR_SelectedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ServiceAppointmentDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>VAR_ServiceResourceDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>VAR_SKUCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>VAR_WorkOrderDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>VAR_WorkStepDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkStep</objectType>
    </variables>
</Flow>
