force-app/main/default/flows/Simulate_Retail_Bike_Purchase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Open_Shipment</name>
        <label>Open Shipment</label>
        <locationX>913</locationX>
        <locationY>85</locationY>
        <actionName>c:SDO_Flow_OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>VAR_ShipmentDetails.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Work_Order</name>
        <label>Open Work Order</label>
        <locationX>54</locationX>
        <locationY>449</locationY>
        <actionName>c:SDO_Flow_OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>VAR_WorkOrderDetails.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Ids_to_Text_Collection</name>
        <label>Add Ids to Text Collection</label>
        <locationX>293</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>PITextCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Product_Item_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Product_Item_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Box_SKU_Values</name>
        <label>Assign Box SKU Values</label>
        <locationX>1099</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>Get_Box_SKU.SKU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assembly</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory_Check_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_Account_Id</name>
        <label>Assign Location Account Id</label>
        <locationX>558</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>VAR_LocationAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Correct_Asset.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Account_to_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Account_to_Asset</name>
        <label>Assign New Account to Asset</label>
        <locationX>661</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Get_Correct_Asset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupPersonAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Correct_Asset.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Bike_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Asset_Values</name>
        <label>Assign New Asset Values</label>
        <locationX>1105</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>NewBuildAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_LocationAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_SelectedLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manufactured</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.Box_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Box_SKU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product2Id.Actual_Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BikeColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product2Id.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Build_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Asset_Values_0</name>
        <label>Assign New Asset Values</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewBuildAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupPersonAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_SelectedLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manufactured</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.Box_SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Box_SKU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product2Id.Actual_Product_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BikeColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBuildAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product2Id.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Build_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_SKU_Values</name>
        <label>Assign New SKU Values</label>
        <locationX>1525</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Built</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BikeColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Box_SKU.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Product_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Box_SKU.Product_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Box_SKU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Step_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Box_SKU.Step_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_SKU_Values_0</name>
        <label>Assign New SKU Values</label>
        <locationX>1416</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Built</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Bike_Color__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BikeColor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Box_SKU.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Product_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Box_SKU.Product_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.SKU_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Box_SKU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Step_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Box_SKU.Step_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAssetSKU.Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Asset_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipment_to_SKU</name>
        <label>Assign Shipment to SKU</label>
        <locationX>1162</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>Get_Warehouse_Box_SKU.Shipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_ShipmentDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Warehouse_Box_SKU.Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Warehouse_SKU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipment_Values</name>
        <label>Assign Shipment Values</label>
        <locationX>1060</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sumner_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_SelectedLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.ShipFromStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sumner_Location.VisitorAddress.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.ShipFromState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sumner_Location.VisitorAddress.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.ShipFromCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sumner_Location.VisitorAddress.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.ShipFromPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sumner_Location.VisitorAddress.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.ShipToStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Destination_Location.VisitorAddress.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.ShipToCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Destination_Location.VisitorAddress.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.ShipToState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Destination_Location.VisitorAddress.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.ShipToPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Destination_Location.VisitorAddress.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.ShipToName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Destination_Location.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.ExpectedDeliveryDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThreeDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ShipmentDetails.Related_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupPersonAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Shipment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Values</name>
        <label>Assign Work Order Values</label>
        <locationX>92</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_LocationAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assembly_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBuildAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_SelectedLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assembly_Work_Type.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Order_Values_0</name>
        <label>Assign Work Order Values</label>
        <locationX>268</locationX>
        <locationY>640</locationY>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupPersonAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assembly_Work_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Territory.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBuildAsset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_SelectedLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_WorkOrderDetails.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assembly_Work_Type.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SKU_to_Converted</name>
        <label>Update SKU to Converted</label>
        <locationX>866</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Get_Bike_SKU.Converted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Box_SKU</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Inventory_Check</name>
        <label>Inventory Check</label>
        <locationX>447</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prebuilt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Correct_Asset</targetReference>
            </connector>
            <label>Prebuilt</label>
        </rules>
        <rules>
            <name>ProBuild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product2Id.Box_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Box_SKU</targetReference>
            </connector>
            <label>ProBuild</label>
        </rules>
        <rules>
            <name>Box_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product2Id.Box_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Destination_Location</targetReference>
            </connector>
            <label>Box Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_Check_0</name>
        <label>Inventory Check</label>
        <locationX>446</locationX>
        <locationY>738</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prebuilt_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Bike_SKU</targetReference>
            </connector>
            <label>Prebuilt</label>
        </rules>
        <rules>
            <name>ProBuild_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product2Id.Box_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Order_Values_0</targetReference>
            </connector>
            <label>ProBuild</label>
        </rules>
        <rules>
            <name>Box_Order_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product2Id.Box_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Box Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_Check_0_0</name>
        <label>Inventory Check</label>
        <locationX>1446</locationX>
        <locationY>635</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prebuilt_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Asset_Values</targetReference>
            </connector>
            <label>Prebuilt</label>
        </rules>
        <rules>
            <name>ProBuild_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product2Id.Box_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Showroom_Account</targetReference>
            </connector>
            <label>ProBuild</label>
        </rules>
        <rules>
            <name>Box_Order_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product2Id.Box_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Box Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inventory_Check_0_0_0</name>
        <label>Inventory Check</label>
        <locationX>1332</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prebuilt_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_SKU_Values</targetReference>
            </connector>
            <label>Prebuilt</label>
        </rules>
        <rules>
            <name>ProBuild_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product2Id.Box_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_SKU_Values_0</targetReference>
            </connector>
            <label>ProBuild</label>
        </rules>
        <rules>
            <name>Box_Order_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2Id.Built_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product2Id.Box_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Box Order</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BikeColor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bike_Color__c</picklistField>
        <picklistObject>SKU__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationSelection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>VAR_SelectedLocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>ThreeDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <interviewLabel>Simulate Retail Bike Purchase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Simulate Retail Bike Purchase</label>
    <loops>
        <name>Loop_through_Product_Item_Collection</name>
        <label>Loop through Product Item Collection</label>
        <locationX>296</locationX>
        <locationY>302</locationY>
        <collectionReference>Get_all_product_Items_at_Location</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Ids_to_Text_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Product_Item_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Asset_SKU</name>
        <label>Create New Asset SKU</label>
        <locationX>1541</locationX>
        <locationY>464</locationY>
        <inputReference>NewAssetSKU</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Build_Asset</name>
        <label>Create New Build Asset</label>
        <locationX>975</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>Get_Assembly_Work_Type</targetReference>
        </connector>
        <inputReference>NewBuildAsset</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Shipment</name>
        <label>Create Shipment</label>
        <locationX>1165</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>Assign_Shipment_to_SKU</targetReference>
        </connector>
        <inputReference>VAR_ShipmentDetails</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>164</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Open_Work_Order</targetReference>
        </connector>
        <inputReference>VAR_WorkOrderDetails</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_product_Items_at_Location</name>
        <label>Get all product Items at Location</label>
        <locationX>173</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Product_Item_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_SelectedLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assembly_Work_Type</name>
        <label>Get Assembly Work Type</label>
        <locationX>858</locationX>
        <locationY>742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service - Bike Assembly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bike_SKU</name>
        <label>Get Bike SKU</label>
        <locationX>759</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SKU_to_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Correct_Asset.SKU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Box_SKU</name>
        <label>Get Box SKU</label>
        <locationX>865</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Box_SKU_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product2Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKU_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Box</stringValue>
            </value>
        </filters>
        <filters>
            <field>Converted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bike_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BikeColor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Correct_Asset</name>
        <label>Get Correct Asset</label>
        <locationX>454</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Location_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_SelectedLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product2Id.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bike_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BikeColor</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Destination_Location</name>
        <label>Get Destination Location</label>
        <locationX>573</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sumner_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_SelectedLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product2Id</name>
        <label>Get Product2Id</label>
        <locationX>454</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductItemList.firstSelectedId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>750</locationX>
        <locationY>742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Box_SKU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_SelectedLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritoryLocation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sumner_Location</name>
        <label>Get Sumner Location</label>
        <locationX>679</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Warehouse_Product_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sumner Warehouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warehouse_Box_SKU</name>
        <label>Get Warehouse Box SKU</label>
        <locationX>937</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Shipment_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Warehouse_Product_Item.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bike_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BikeColor</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKU_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Box</stringValue>
            </value>
        </filters>
        <filters>
            <field>Converted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SKU__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warehouse_Product_Item</name>
        <label>Get Warehouse Product Item</label>
        <locationX>804</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Warehouse_Box_SKU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product2Id.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sumner_Location.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Showroom_Account</name>
        <label>Lookup Showroom Account</label>
        <locationX>1221</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Asset_Values_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RAD - Seattle Showroom</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bike_SKU</name>
        <label>Update Bike SKU</label>
        <locationX>334</locationX>
        <locationY>775</locationY>
        <connector>
            <targetReference>Update_Original_Asset</targetReference>
        </connector>
        <inputReference>Get_Bike_SKU</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Box_SKU</name>
        <label>Update Box SKU</label>
        <locationX>603</locationX>
        <locationY>744</locationY>
        <connector>
            <targetReference>Inventory_Check_0</targetReference>
        </connector>
        <inputReference>Get_Box_SKU</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Asset</name>
        <label>Update Original Asset</label>
        <locationX>219</locationX>
        <locationY>789</locationY>
        <connector>
            <targetReference>Assign_Work_Order_Values</targetReference>
        </connector>
        <inputReference>Get_Correct_Asset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Warehouse_SKU</name>
        <label>Update Warehouse SKU</label>
        <locationX>1026</locationX>
        <locationY>84</locationY>
        <connector>
            <targetReference>Open_Shipment</targetReference>
        </connector>
        <inputReference>Get_Warehouse_Box_SKU</inputReference>
    </recordUpdates>
    <screens>
        <name>Color_Selection</name>
        <label>Color Selection</label>
        <locationX>450</locationX>
        <locationY>89</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Product2Id</targetReference>
        </connector>
        <fields>
            <name>Pick_Color</name>
            <choiceReferences>BikeColor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Color</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Location_Selection</name>
        <label>Location Selection</label>
        <locationX>177</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_all_product_Items_at_Location</targetReference>
        </connector>
        <fields>
            <name>Select_Location</name>
            <choiceReferences>LocationSelection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LookupPersonAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Asset</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Person Account Lookup</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Item_Selection</name>
        <label>Product Item Selection</label>
        <locationX>291</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Color_Selection</targetReference>
        </connector>
        <fields>
            <name>ProductItemList</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>PITextCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>ProductItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Actual_Product_Name__c,Box_Count__c,Assembly_Count__c,Built_Count__c,Accessory_Count__c,Part_Count__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstSelectedId</name>
                <value>
                    <elementReference>VAR_SelectedPIId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Location_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewAssetSKU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>NewBuildAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>PITextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_LocationAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_SelectedLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_SelectedPIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ShipmentDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipment</objectType>
    </variables>
    <variables>
        <name>VAR_WorkOrderDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
